.audio-container {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 1em 0;
  display: block;
}

.audio-container * {
  box-sizing: inherit;
}

.audio-button {
  margin: 0.5em;
  height: 3em;
  width: 3em;
  display: inline-block;
}

.audio-playing {
  background-image: url(pause.svg);
}

.audio-paused {
  background-image: url(play.svg);
}

.audio-bar-container { 
  padding: 0 1em;
  height: 4em;
  width: calc(100% - 4em);
  display: inline-block;
  float: right;
}

.audio-bar {
  background-color: rgba(20, 20, 20, 0.3);
  margin: 1.5em 0 0.25em;
  height: 1em;
  display: block;
  position: relative;
}

.audio-bar-progress {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  height: 1em;
  width: 0%;
  display: block;
}

.audio-bar-cursor {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  margin: -0.25em 0;
  padding: 0;
  height: 1.5em;
  width: 0.75em;
  position: absolute;
  top: 0;
  left: calc(0% - 0.25em);
}

.audio-total-time {
  float: right;
}
